{{ define "main" }}
<h1 class="post-title">{{ .Title }}</h1>
<div class="post-icons">
    {{ if .Params.Javascript}}<i class="fab fa-js"></i>{{ end }}
    {{ if .Params.NodeJS}}<i class="fab fa-node-js"></i>{{ end }}
    {{ if .Params.PowerApp}}<i class="fab fa-microsoft"></i>{{ end }}
    {{ if .Params.Tech}}<i class="fas fa-microchip"></i>{{ end }}
    {{ if .Params.Misc}}<i class="fas fa-glasses"></i>{{ end }}
</div>
{{ if .Date }}
<time>{{ .Date.Format "January 2, 2006" }}</time>
{{ end }}
<div>
    <p>
        {{ .Content }}
    </p>
</div>
{{ template "_internal/disqus.html" . }}


<div class="page-footer">

    {{if .Params.tags}}
    <hr class="footer-divider">
    {{ range .Params.tags }}
    <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
    {{ end }}
    {{ end }}
</div>

<script>talkyardServerUrl = '{{ .Site.Params.talkyardServerUrl }}';</script>
<script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
    <noscript>Please enable Javascript to view comments.</noscript>
</div>

{{end}}