<footer class="footer">
	{{ partial "social.html" . }}


	{{ if .Site.Params.enableKofi }}

	<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
	<script type='text/javascript'>
		const kofiId = '{{ .Site.Params.Kofi }}';
		kofiwidget2.init('Tip a Coffee', '#898989', kofiId);
		kofiwidget2.draw();
	</script>

	{{ end }}

	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
</footer>