<footer class="footer">
	{{ partial "social.html" . }}

	<p class="note">
		You can also send me an encrypted mail.<br />
		Download <a href="https://keys.openpgp.org/search?q=jo%40coding.observer" target="_blank">PGP Cert</a>
		<br />
	</p>

	{{ if .Site.Params.enableKofi }}

	<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
	<script
		type='text/javascript'>kofiwidget2.init('Buy me a Coffee', '#a8a8a8', '{{ .Site.Params.Kofi }}'); kofiwidget2.draw();</script>


	{{ end }}

	<!-- script tag -->
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/prism.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/line-numbers/prism-line-numbers.min.js"></script>

	<!-- All individual language files -->
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/components/prism-dax.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/components/prism-powerquery.min.js"></script>


	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	<br /><br />
	<div class="ml-form-embed" data-account="2781907:j1p2f8n4c1" data-form="3349426:o0z0a6">
	</div>




</footer>