<header>
    {{ if isset .Site.Params "title" }}
    <div class="site-title">
        <a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "description" }}
    <div class="description">
        <p>{{ .Site.Params.Description | markdownify }}</p>
    </div>
    {{ end }}

    <div class="description-icons">
        <i class="fab fa-js"></i>
        <i class="fab fa-node-js"></i>
        <i class="fas fa-chart-pie"></i>
        <i class="fas fa-microchip"></i>
    </div>
</header>